livekit-agents
livekit-plugins-groq
livekit-plugins-silero
python-dotenv
livekit-api
flask[async]
flask
uvicorn
flask-cors
livekit-plugins-google
livekit-plugins-cartesia
livekit-plugins-deepgram
livekit-plugins-noise-cancellation
